body { 
      background-image: url(Grey-Texture-Background-and-Wallpaper-12.jpg); background-size: cover;
	  background-repeat: no-repeat;
}
h1 { 
      color: yellow;
}
#myId { 
      color: yellow;
}
.myClass { 
      color: yellow;
}
h3 {
	color: white;
}